* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #0a0b1e; /* Fondo negro-azulado profundo */
  --secondaryColor: #161a30; /* Fondo de las tarjetas y contenedores */
  --thirdColor:  #7b61ff; /* Botones principales y hover */
  --fourthColor: #5a45d1; /* Sombras y bordes de botones */
  --fifthColor: #ffffff; /* Blanco puro para títulos */
  --sixthColor: #b0b3c1; /* Gris claro para párrafos y descripciones */
  --seventhColor: #c482ff; /* Púrpura suave para palabras clave (IRREPETIBLES) */
  --card-border: #252a41; /* Bordes sutiles de las tarjetas de NFT */
  --shadow-purple: rgba(123,97,255,0.4); /* Resplandor para botones o efectos */
  --color_transparente_para_los_id: rgba(90, 69, 209, 0.3);
  --color_transparente_para_las_cards: rgba(22, 26, 48, 0.5);
}
main div{
  display: flex;
  flex-direction: column;
  text-align: center;
}
main div h1{
  font-size: 15px;
  color: var(--seventhColor)
}
main div h2{
  color: var(--fifthColor);
}
main div h3{
  font-size: 15px;
  color: var(--sixthColor);
}
.Cards{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Cards img{
  width: 240px;
  height: 240px;
  border-radius: 25px;
  border: 2px solid var(--card-border);
}
.Card{
  width: 280px;
  height: 460px;
  background-color: var(--color_transparente_para_las_cards);
  padding: 15px;
  margin: 0 20px;
  border: 1px solid var(--card-border);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.Card:hover{
  transform: scale(1.05);
}
.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2px;
}
.id {
  background-color: var(--color_transparente_para_los_id);
  border: 1px solid var(--fourthColor); 
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
.id:hover{
  transform: scale(1.06);
}
.Card h2{
  font-size: 20px;
  text-align: left;
  width: 100%;
}
.Card p {
  font-size: 15px;
  text-align: left;
  width: 100%;
}
.icon-small{
  font-size: 12px;
  text-align: left;
  width: 100%;
}
.Card button{
  width: 240px;
  height: 40px;
  background-color: var(--fourthColor);
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 70%;
  height: 250px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid var(--shadow-purple);
}
@media all and (max-width: 577px){
  .banner img{
    display: none;
  }
  .Cards{
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 577px) and(max-width: 768px){
  .banner img{
    display: none;
  }
}
@media all and (min-width:768px) and (max-width: 992px){
  .banner img{
    display: none;
  }
}